/********** 公共部分 **********/

.width-block {
    width: 1200px !important;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
}

.img-left-position {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-right-position {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-white {
    box-shadow: 1px 1px 7px 1px #ced6de;
    background: #fff;
}

.bg-black {
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.6);
    background: #181821;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    outline: none;
    height: 0;
    font-size: 44px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 20px;
    border-radius: 60px;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    height: auto;
}

.swiper-button-prev i,
.swiper-button-next i {
    position: relative;
    left: -20px;
    display: none;
}

.swiper-button-prev i {
    left: -22px;
}

.swiper-container:hover .swiper-button-prev i,
.swiper-container:hover .swiper-button-next i {
    display: inline-block;
}

.banner-outer {
    background: linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
    background: -prefix-linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
    background: -webkit-linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
}

.banner-outer-huanan {
    background: linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
    background: -prefix-linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
    background: -webkit-linear-gradient(to bottom, #002b58, #032a55 25%, #0c294b 50%, #1e2434 90%);
}

.banner-outer-huadong {
    background: linear-gradient(to bottom, #002b58, #06294f 25%, #102745 50%, #202332 90%);
    background: -prefix-linear-gradient(to bottom, #002b58, #06294f 25%, #102745 50%, #202332 90%);
    background: -webkit-linear-gradient(to bottom, #002b58, #06294f 25%, #102745 50%, #202332 90%);
}

.banner-outer-huabei {
    background: linear-gradient(to bottom, #002b58, #052a52 25%, #0f2745 50%, #212330 90%);
    background: -prefix-linear-gradient(to bottom, #002b58, #052a52 25%, #0f2745 50%, #212330 90%);
    background: -webkit-linear-gradient(to bottom, #002b58, #052a52 25%, #0f2745 50%, #212330 90%);
}

.banner-outer-xianggang {
    background: linear-gradient(to bottom, #002b58, #062a50 25%, #102744 50%, #1e2434 90%);
    background: -prefix-linear-gradient(to bottom, #002b58, #062a50 25%, #102744 50%, #1e2434 90%);
    background: -webkit-linear-gradient(to bottom, #002b58, #062a50 25%, #102744 50%, #1e2434 90%);
}


/********** 简介 **********/

.dc-brief {
    font-size: 14px;
    position: relative;
}

.dc-brief .img-block {
    width: 684px;
}

.dc-brief .video {
    position: absolute;
    top: 550px;
    left: 0;
    background: #f4f4f4;
    width: 684px;
    padding: 20px;
    font-size: 20px;
    color: #2f2f2f;
    box-shadow: 0 0 5px 1px #ced6de;
    cursor: pointer;
}

.dc-brief .video:hover {
    color: #4074e1;
}

.dc-brief .img-left-content {
    margin-left: 684px;
    padding-left: 40px;
    min-height: 300px
}

.dc-brief-ul {
    text-align: left;
    margin-top: 22px
}

.dc-brief-ul li {
    vertical-align: middle;
    padding: 7px 0;
}

.dc-brief-ul i {
    background: url("https://static.eflycloud.com/V5/pc/image/doc/dataCenter/iconAll.png");
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: 4px;
}

.dc-brief-ul label {
    width: 170px;
    text-align: left;
    padding: 0 5px 0;
    margin: 0;
    display: inline-block;
}

.dc-brief-ul p {
    display: inline-block;
    width: 273px;
    vertical-align: top;
}


/********** 图片放上模块 **********/

.img-top-block .img-block {
    width: 100%;
    height: 420px;
}

.img-top-block .data-bottom-content {
    width: 50%;
    padding: 20px 0 25px 50px;
    font-size: 14px;
}

.img-top-block .data-right-block {
    padding-left: 60px;
}

.img-top-block li {
    vertical-align: middle;
    padding: 7px 0;
    text-align: left;
    height: 38px;
}

.img-top-block label {
    display: inline-block;
    width: 230px;
    text-align: left;
    margin-bottom: 0;
}

.img-top-block p {
    display: inline-block;
}


/********** 图片放左模块 **********/

.img-left-block {
    position: relative
}

.img-left-block .img-block {
    width: 590px;
}

.img-left-block .data-right-content {
    margin-left: 590px;
    padding: 20px 5px 20px 70px;
    min-height: 300px;
    font-size: 14px;
}

.img-left-block li {
    vertical-align: middle;
    padding: 7px 0;
    text-align: left;
}

.img-left-block label {
    display: inline-block;
    width: 230px;
    text-align: left;
    margin-bottom: 0;
}

.img-left-block p {
    display: inline-block;
}


/********** 图片放右模块 **********/

.img-right-block {
    position: relative
}

.img-right-block .img-block {
    width: 590px;
}

.img-right-block .data-left-content {
    margin-right: 590px;
    padding: 20px 5px 20px 50px;
    min-height: 300px;
    font-size: 14px;
}

.img-right-block li {
    vertical-align: middle;
    padding: 7px 0;
    text-align: left;
}

.img-right-block label {
    display: inline-block;
    width: 230px;
    text-align: left;
    margin-bottom: 0;
}

.img-right-block p {
    display: inline-block;
}